<% /* A registration view that displays a form to register a new account */ %>
<% /* Displays any messages from the flash middleware */ %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
 <%  }) %>
 </ul>
<% } %>

<div class="main-content-wrapper">
  <h1><%= title %></h1>

  <form action="/account/register" method="post" class="register-form">
    <label for="accountFirstName">First Name:</label>
    <input type="text" id="accountFirstName" name="account_firstname" required>

    <label for="accountLastName">Last Name:</label>
    <input type="text" id="accountLastName" name="account_lastname" required>

    <label for="accountEmail">Email:</label>
    <input type="email" id="accountEmail" name="account_email" required>

    <label for="accountPassword">Password:</label>
    <input type="password" id="accountPassword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9\s])(?!.*\s).{12,}$" title="Password must be at least 12 characters and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.">

    <p class="password-hint">Passwords must be at least 12 characters and contain at least 1 capital letter, 1 number, and 1 special character.</p>
    <input type="checkbox" id="showPass">
    <label for="showPass">Show Password</label>
    <button type="submit">Register</button>
  </form>
</div>
<script src="/js/password-toggle.js"></script>