<header id="page-header">
    <a href="/" title="Return to home page">
        <div id="logo-wrapper">
            <h1>CSE Motors</h1>
        </div>
    </a>
    <div id="account-links">
        <a href="/account/login" title="My Account">My Account</a>
    </div>
</header>