

<%- messages() %>

<div class="main-content-wrapper">
  <h1><%= title %></h1>

  <% if (errors) { %> <%# <-- CORREGIDO: Bloque para mostrar errores de validación %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/inv/add-classification" method="post">
    <label for="classification_name">Classification Name:</label>
    <input
      type="text"
      id="classification_name"
      name="classification_name"
      required
      <% if (locals.classification_name) { %> value="<%= locals.classification_name %>" <% } %> <%# <-- CORREGIDO: Sticky form %>
    >
    <button type="submit">Add Classification</button>
  </form>
</div>