<%# views/inventory/management.ejs %>

<%- messages() %>

<div class="main-content-wrapper">
  <h1><%= title %></h1>
  <p>Welcome to the inventory management area. Please choose an option below:</p>

  <h2>Inventory Management Options</h2>
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
  </ul>

  <hr>

  <h2>Manage Inventory</h2>
  <p>Select a classification from the list to see the items belonging to it.</p>

  <div id="classificationSelectContainer"> <%# Un simple div contenedor %>
    <%- classificationList %> <%# Esto inserta el <select id="classificationList"> %>
    <noscript>
      <form method="get" action="/inv/">
          <input type="submit" value="View Inventory">
      </form>
    </noscript>
  </div>

  <div id="inventoryDisplayArea">
    <% if (locals.grid) { %>
      <%- grid %>
    <% } %>
  </div>
</div>

<script src="/js/inventory.js"></script>