<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Error</h1>
<% } %>

<%# messages() %> <%# Esto es para mensajes flash si los implementas más tarde, déjalo comentado por ahora %>

<p><%= message %></p>